
block js
  script(src=`${relativePath}js/lib/three.js` charset="utf-8")
  script(src=`${relativePath}js/lib/OrbitControls.js` charset="utf-8")
  script(src=`${relativePath}js/lib/stats.min.js` charset="utf-8")
  script(src=`${relativePath}js/lib/dat.gui.min.js` charset="utf-8")
  //- script(src=`${relativePath}js/app.js` charset="utf-8")
